*{
    font-family: 'Segoe UI',SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;;
}

li{
    display: inline;
}
ul{
    padding: 0px;
}
.Nav-bar{
    text-decoration: none;
    color: #000;
    text-decoration-line: none;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Segoe UI',SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: smaller;
    display: inline-block;
    padding: 12px 4px 12px 4px;
}
.Nav-bar:hover{
    border-bottom:2px solid #000;
 }

.notice-container{
    background-color: #950c17;
    color: white;
    text-align: center;
    height: 36px;
    padding-top: 6px;
    padding-bottom: 30px;
}
.main-image-container{
    background-image: url(https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/Highlight-Xbox-Series-S-Stereo-Headset-FY23HOL:VP5-1920x600);
    background-size: cover;
    height: 400px;
}

.main-container-card{
    width: 300px;
    text-align: left;
    padding-top: 120px;
    padding-left: 750px;
    
}
.icons div{
    display: inline-block;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-right: 24px;
    margin-left: 24px;
    text-align: center;
}
 .icons{
    text-align: center;
 }
 .icons div a{
    text-decoration: none;
    color: #000;
    font-size: smaller;
 }
.products div{
    display:inline-block;
    width: 224px;
    height: 124.26px;
    text-align: left;
    font-size: smaller;
    padding: 15px 5px 10px 5px;
    align-items: center;
}
.products{
    padding-left: 10%;
    padding-right: 10%;
}

.products div img{
    width: 224px;
    height: 124.26px;'
    align-items: center;
    position: inherit;
}
.bottom-card-container{
        background-image: url(https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/Highlight-Promo-Xbox-Wireless-Controllers-White-Black-FY23HOLPM:VP5-1596x600);
        background-size: cover;
        height: 400px;
     }

.bottom-card{
    width: 350px;
    text-align: left;
    padding-top: 120px;
    padding-left: 750px;
}

.button-link{
    display: inline-block;
    font-size: x-small;
    font-weight: bold;
}

.button a{
    background-color: black;
    color: white;
    text-decoration: none;
    font-size: smaller;
    font-weight:500;
}
.button{
    background-color: black;
    color: white; 
}

.bottom-link{
    text-decoration: none;
    color: black;
    display: inline-block;
    padding-left: 15px;
}
.bottom-link:hover{
    text-decoration:underline;
    text-decoration-color: #000;
}

.banner-a{
    text-decoration: none;
    color: white;
    font-size: larger;
    font-weight:800;
}
.banner-H:hover{
    text-decoration: underline;
    color: white;
}
.banner-H{
    text-decoration: none;
    color: white;
}
.span-1{
    color: #950c17;
}
#microsoft{
    width: 108px;
    height: 23px;
}

.link-container{
    display: inline-block;
    padding-left: 10%;
    padding-right: 10%;
    font-size: smaller;
    text-decoration: none;
    color: #950c17;
}



#x-X{
    padding-right: 100px;
}

#s-5{
    padding-right: 85px;
}

#x-S{
    padding-right: 90px;
    padding-left: 5px;
}

#sp-9{
    padding-right: 85px;
    padding-left: 15px;
}

#full-card{
    padding-top: 5%;
}

#x-X a{
    text-decoration: none;
    color: #950c17;
}

#s-5 a{
    text-decoration: none;
    color: #950c17;
}

#x-S a{
    text-decoration: none;
    color: #950c17;
}

#sp-9 a{
    text-decoration: none;
    color: #950c17;
}

#x-X:hover{
    text-decoration: underline;
    color: #950c17;
}

#s-5:hover{
    text-decoration: underline;
    color: #950c17;
}

#x-S:hover{
    text-decoration: underline;
    color: #950c17;
}

#sp-9:hover{
    text-decoration: underline;
    color: #950c17;
}
